@import '../common/cssvars.scss';


.admin-content-bg
{
    margin:0px;
    height: calc(100vh - #{$header_h});
    background-color: rgb(245, 245, 245);
    //display: grid;
    //grid-template-rows: calc(100vh - #{$header_h});
    
}

.admin-content-centerer{
   
    display: flex;
    justify-content: center;
    
 }

 .admin-wrapper-grid
 {
    margin-top: $article_margin_top;
    display:grid;
    grid-template-columns: 20vw auto;
    width: 90vw;
    
    //height: 80vh;
    //height: calc(#{$article_h} - #{$article_margin_top} - #{$header_h});
 }

.admin-menu { 
    grid-column: 1;
    background-color: beige;  
}

.admin-content {
    grid-column: 2;
   // background-color: aquamarine;  
}





