@import '../common/cssvars.scss';
.admin-content-centerer{
    //margin-top: $article_margin_top;
    margin-top: $article_margin_top;
    display: flex;
    justify-content: center;
    //width: 90vw;
 }

 .admin-wrapper-grid
 {
    display:grid;
    grid-template-columns: 20vw auto;
    width: 90vw;
    height: 80vh;
 }

.admin-menu {
    grid-column: 1;
    background-color: beige;
    
}

.admin-content {
    grid-column: 2;
    background-color: aquamarine; 
    
}