/* styles for default layout*/
@import '../common/cssvars.scss';

.default-page-content // page content position styling
{
    margin-top: $article_margin_top; 
    min-height: calc(#{$article_h} - #{$article_margin_top} - #{$header_h});
}

.default-page-footer // footer styling
{
    width: 100%;
    height: $footer_h;
    background-size: cover;
    background-image: url(../../images/footer2_smaller.png)
} 


