*{
    padding: 0px;
    margin: 0px;
}

html {
    height: 100%; 
}

body
{
    background-color: #666DB0;
    min-height: 100%;
}

.fonts-big-title
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    color: white;
    text-align: center;
    //vertical-align:bottom;

}

.fonts-footer
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: white;
    text-align: right;
    //vertical-align:bottom;
}