.home-grid
{
    display: grid;
    grid-template-rows: calc(100vh - 46px);
    grid-gap: 0px;
}

.row-logo
{
    grid-row: 1;
    display: flex;
    //background-image: url("../../images/f3.png");
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),
  url(../../images/f3.png);
    background-size: cover;
    //justify-items: center;
    justify-content: center;
    align-items: center;
    //background-color: black;
}

.logo-img
{
    top: 400px;
    width: calc( 733px / 2);
    height: calc( 543px / 2);
    background-size: cover;
    background-image: url("../../images/logo.png"); 
    filter: blur(0.5px)  brightness(1); 
}
/*
.row-article{
    grid-row: 2;
}

:target::before {
    content: "";
    display: block;
    height: 46px; 
    margin: -46px 0 0; 
  }*/