/*Styles for login box*/
.login-box{ // login box container
    height: 230px; 
    width: 400px; 
    padding: 10px;
    //margin: 10px; 
    background-color: white; 
    border-radius: 20px; 
    border-top: 0px transparent;     
}


.login-txt-inp { // text input in login box
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
  
.login-btn { // button to send login\pwd
  width: 100%;
  background-color: #285B28;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
  
.login-btn:hover { // button hover styles
  background-color: #9396b3;
}

.login-wrong { // Incorrect creds message styling
  color: red;
  //display: inline;
  align-self: flex-end;
  justify-self: flex-end;
  width: 200px;
}

.login-label-wrapper{ // labels in login box
  display: grid;
  grid-template-columns: 50% 50%;
}
  
@media only screen and (max-width: 400px) { // resizing login box for smaller screens
  .login-box{
    width: 270px; 
  }
  .login-label-wrapper{ // labels in login box
    grid-template-columns: 30% 70%;
  }
}
