


.fonts-big-title
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    color: white;
    text-align: center;
    //vertical-align:bottom;

}

.grid-wrapper{
    display: grid;
    grid-template-areas:
    'top'
    'head'
    'log';
    grid-gap: 0px;
    padding: 0px;
    margin: 0px;
    //background-image: url('../../images/f3.png');
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),
    url(../../images/f3.png);
    background-size: cover;
}
.top-row{
    grid-area: top; 
    height: 20vh;
    
}

.header-row{
    grid-area: head; 
    height: 10vh;

    //display: flex;
    //flex-direction: column-reverse;
}

.login-row{
    display: flex;
    justify-content: center;
    grid-area: log; 
    //height: calc(60vh - #{$footer-h});
    height:64vh;
    
}


