@import '../common/cssvars.scss';


.fonts-big-title
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    color: white;
    text-align: center;
}

.grid-wrapper{
    display: grid;
    grid-template-rows:  20vh 10vh auto;
    height:  calc(100vh - #{$header_h});
    grid-gap: 0px;
    padding: 0px;
    margin: 0px;
    //background-image: url('../../images/f3.png');
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),
    url(../../images/f3.png);
    background-size: cover;
}
.top-row{
    grid-row: 1;   
}

.header-row{
    grid-row: 2;
}

.login-row{
    display: flex;
    justify-content: center;
    grid-row: 3; 
}


