.grid-wrapper{
    display: grid;
    grid-template-areas:
    'top'
    'head'
    'log'
    'foot';
    grid-gap: 0px;
    padding: 0px;
    margin: 0px;
}
.top-row{
    grid-area: top; 
    height: 25vh;
    background-color: #666DB0;
}

.header-row{
    grid-area: head; 
    height: 15vh;
    background-color: #666DB0;
    //display: flex;
    //flex-direction: column-reverse;
}

.login-row{
    display: flex;
    justify-content: center;
    grid-area: log; 
    height: 50vh;

    background-color: #666DB0;
}

.login-box{
    height: 200px; 
    width: 400px; 
    padding: 0px; 
    background-color: white; 
    border-radius: 20px; 
    border-top: 0px transparent; 
    
}
.footer-row{
    text-align: right;
    grid-area: foot; 
    height: 10vh;
    background-color: cadetblue;
}